/* Display table with vertical scroll */
/*div#table2 {
    border-collapse: collapse;
    max-height: 400px;
    overflow-y: scroll;
} */

/* Table heading */
thead.head {
   background-color: lightsteelblue;
   position: sticky;
   top: 0;
   height: 30px;
}

/* Each table cell */
td {
    border: 1px solid steelblue;
    width: 200px;
    height: 30px;
}
